<?xml version="1.0"?>
<config>
    <modules>
        <Inchoo_Tickentoo>
            <version>0.1.0</version>
        </Inchoo_Tickentoo>
    </modules>
    <frontend>
        <routers>
            <tickentoo>
                <use>standard</use>
                <args>
                    <module>Inchoo_Tickentoo</module>
                    <frontName>tickentoo</frontName>
                </args>
            </tickentoo>
        </routers>
        <layout>
            <updates>
                <inchoo_tickentoo module="Inchoo_Tickentoo">
                    <file>inchoo_tickentoo.xml</file>
                </inchoo_tickentoo>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <inchoo_tickentoo>
                <class>Inchoo_Tickentoo_Helper</class>
            </inchoo_tickentoo>
        </helpers>
        <blocks>
            <inchoo_tickentoo>
                <class>Inchoo_Tickentoo_Block</class>
            </inchoo_tickentoo>
        </blocks>
        <models>
            <inchoo_tickentoo>
                <class>Inchoo_Tickentoo_Model</class>
                <resourceModel>tickentoo_resource</resourceModel>
            </inchoo_tickentoo>
            <tickentoo_resource>
                <class>Inchoo_Tickentoo_Model_Resource</class>
                <entities>
                    <ticket>
                        <table>inchoo_tickentoo_ticket</table>
                    </ticket>
                    <reply>
                        <table>inchoo_tickentoo_ticket_reply</table>
                    </reply>
                </entities>
            </tickentoo_resource>
        </models>
        <resources>
            <tickentoo_setup>
                <setup>
                    <module>Inchoo_Tickentoo</module>
                </setup>
            </tickentoo_setup>
        </resources>
        <template>
            <email>
                <tickentoo_config_tickentoo_email_notifications_notification_email_template>
                    <label>New Ticket Notification</label>
                    <file>inchoo/tickentoo/new_ticket_notification.html</file>
                    <type>html</type>
                </tickentoo_config_tickentoo_email_notifications_notification_email_template>
            </email>
        </template>

    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Inchoo_Tickentoo before="Mage_Adminhtml">Inchoo_Tickentoo_Adminhtml</Inchoo_Tickentoo>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <tickentoo_config>
            <tickentoo_email_notifications>
                <notify_admin_on_new_ticket>1</notify_admin_on_new_ticket>
                <notification_email_template>tickentoo_config_tickentoo_email_notifications_notification_email_template</notification_email_template>
            </tickentoo_email_notifications>
        </tickentoo_config>
    </default>
</config>